.nopadding-left {
    padding-left: 0 !important;
    margin: 0 !important;
 }

 .nopadding-right {
    padding-right: 0 !important;
    margin: 0 !important;
 }

.register-controls{
   padding: 0px 300px;
 }